.bodyPart{
    background-color: gainsboro;
    padding-top: 10px;
    font-family: 微软雅黑,serif;
}
.productBar{
    margin:25px 0 12px 0;
    font-size: 13px;
}
.productBar span{
    font-weight: bold;
}
.productSelect{
    width:1000px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid darkgray;
}
.productSelect div{
    vertical-align: top;
}
/*下单部分左边图片开始*/
.productPicture{
    display: inline-block;
    text-align: center;
    width: 300px;
}
.bigPic{
    margin:18px 0 21px 0;
}
/*下单部分右边内容开始*/
.productCount{
    width: 682px;
    margin:0;
    padding:25px 0 10px 10px;
    border-left: 1px solid darkgray;
    display: inline-block;
    color:#666666;

}
.productName{
    font-weight: bold;
    font-size: 1.4em;
    line-height: 25px;
    margin-left: 16px;
}
.property{
    margin:17px 16px ;

}
.propertyName{
    margin-right: 0;
    width:55px;
    padding-right: 13px;
    font-size: 13px;
}
.p1 span{
    color: mediumvioletred;

}
.p1 .price{
    font-size: 1.4em;
}
.p2 .temp{
    padding:5px;
}
.activity{
    margin-right: 5px;
    padding:1px 5px 1px 10px ;
    text-align: right;
    width: 47px;
    height: 19px;
    line-height: 19px;
    color: white;
}
.activitySquare{
    display:block;
    width:0;
    height:0;
    border-width:9px 9px 9px 0;
    border-style:solid;
    border-color:transparent darkorange transparent transparent;/*透明 黄 透明 透明 */
    position:absolute;
    /*margin-top: 2px;*/
    margin-left: 64px;
}
/*遗留问题:小圆*/
.circle{
    height:5px;
    width:5px;
    border-radius:50px;
    background-color:white;
    margin-top: 7px;
    margin-left: -8px;
    position: absolute;
}
.p3 span,.p3 div{
    vertical-align: middle;
}
.p4{
    margin-top: 27px;
    margin-bottom: 22px;
}
.p5{
    margin-bottom: 22px;
}
.p3 select{
    border:1px solid darkgray;
    margin-right: 10px;
    /*margin-bottom: 20px;*/
    width: 124px;
    height:25px;
    /*遗留问题:蓝色按钮*/
}
.color{
    /*width:83px;*/
    /*height:33px;*/
    margin:15px 10px 15px 0;
    padding:11px 30px;
    border:1px solid darkgray;
    background-color: white;
    color:#000000;
}
.p5 div{
    vertical-align: middle;
}
.propertyName{
    display: inline-block;
}
.sizes{
    display: inline-block;
    line-height: 40px;
}
.size{
    margin-right:5px;
    padding:9px 7px;
    border:1px solid darkgray;
    background-color: white;
}
.buyNumber{
    margin-right: 10px;
    font-size: 14px;
    height: 32px;
}
.buyNumber span{
    border-top:1px solid darkgray;
    border-bottom:1px solid darkgray;
    padding:10px 25px;
    height: 32px;
    background-color:#ffffff;
}
.buyNumber .sign{
    border:1px solid darkgray;
    padding:10px 5px;
    height: 32px;
    background-color:#efefef;
}
#CustomerSelect{
    background-color: gainsboro;
    margin:15px 10px 15px 0;
    padding:20px 0 25px 0;
}
.p7{

}
.p7 .propertyName{
    color: #666666;
    font-size: 15px;
    font-weight: bold;
}
.p7 span{
    margin-left: -20px;
    font-size: 15px;
    font-weight: bold;
    color:#0479ca;
}
.p8{
    padding-top:33px;
    padding-bottom:10px;
    height: 90px;
}
.inTo img,.inTo span{
    vertical-align: middle;
}
.inTo img{
    margin-left: 0;
}
.inTo{
    /*margin-left: 20px;*/
    /*padding:10px;*/
    color: white;
    margin-left: 83px;
    background-color: darkorange;
    width:183px;
    height:47px;
    line-height: 47px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    /*font-weight: bold;*/
}
.p8 .line{
    position: absolute;
    margin:-20px 40px;
    width:1px ;
    height: 90px;
    background-color: #e5e5e5;
}
.p9{
    margin-left: 11px;
    margin-bottom: 22px;
}
/*Class部分*/
.digitKinds{
    width: 190px;
    border-top: 2px solid royalblue;
}
.part{
    border:1px solid darkgray;
    background-color: white;
    font-family: 微软雅黑, serif;
    line-height: 20px;
    padding-bottom: 24px;
    margin-bottom: 10px;
}
.kindPicture {
    text-align: center;
    margin-bottom: 5px;
}
.kindsTitle{
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid darkgray;
    padding:0 15px;
    height: 39px;
    line-height: 39px;
    background-color: #f3f3f3;
}
.kind{
    font-family:"Adobe 宋体 Std L",serif;
    padding: 20px 8px 10px 18px;
}
.kindName{
    font-size: 9px;
    color: #999999;
}
.kindPrice{
    color: #de0000;
    font-family:微软雅黑,serif;
}
/*右边第一部分*/
.ProduceBody{
    margin-left:250px;
}
.introducePro,.commentPro,.otherDetails{
    margin-top: 14px;
    border:1px solid darkgray;
}
.title{

    line-height: 30px;
    text-align: center;
}
.introduce{
    width:50%;
    height:30px;
    margin-left:0;
    background-color: royalblue;
    color: white;
    /*遗留问题:icon有白底*/
}
.introduce img,.introduce span{
    vertical-align: middle;
}
.comment{
    width:50%;
    height:29px;
    border-bottom: 1px solid darkgray;
}
.comment img,.comment span{
    vertical-align: middle;
}
.img{
    text-align: center;
    margin:60px 0 40px 0;
}
.words,.picture{
    margin-left: 10px;
    margin-bottom: 40px;
}
.titleName{
    font-size: 16px;
    color: #4593FD;
    border-bottom:2px solid #4593FD;
    width:10%;
    display: inline-block;
}
.wordTitle span{
    color: dimgray;
    border-bottom:2px solid lightgray;
    width:85%;
    margin-left: 0;
    display: inline-block;
}
.wordTitle div,span{
    vertical-align:bottom;
}
.content{
    font-size: 14px;
    margin-top: 10px;
}
.content2{
    font-size: 14px;
    margin-top: 17px;
    margin-bottom: 40px;
}
.contentPic{
    margin-left: -10px;
}
/*评价部分*/
.commentPro{
    margin-top: 5px;
}
.commentHead{
    background-color: white;
    padding: 5px;
}
.commentProduct{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
.commentFigure div{
    vertical-align: middle;
}
.figure{
    color: darkorange;
    font-size: 4em;
    margin-right: 20px;
    display: inline-block;
}
.details{
    display: inline-block;
}
.figure span,.figure div{
    vertical-align: middle;
}
.figure span{
    color: dimgray;
    font-size:25px;
}
.bar ul{
    width:560px;
    background-color: #aeaeae;
    margin-bottom: 10px;
}
.bar ul li{
    display: inline-block;
    padding:5px 30px;
}
.mark{
    text-align: center;
    width:16px;
    margin-left: 460px;
    margin-bottom: 18px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: dimgray;
    margin-top: -8px;
}
#square{
    display:block;
    width:0;
    height:0;
    border-width:18px 18px 0;
    border-style:solid;
    border-color:dimgray transparent transparent;/*黄 透明 透明 */
    position:absolute;
    margin-left: -10px;
}
/*.commentTitle ul{*/
/*display: inline-block;*/
/*}*/
.commentTitle{
    height: 50px;
}
.commentTitle ul li{
    display: inline-block;
    padding:10px 5px;
    margin:5px 20px;
}
.rightOrder .order{
    display: inline-block;
    padding:5px;
    margin:10px 0;
    border: 1px solid lightgray;
}
#new{
    position: absolute;
    margin-left: 715px;
    margin-top: -3px;
    padding:0 3px;
    background-color: red;
    font-weight: bold;
    color: white;
}
.commentBody{
    background-color: white;
}
.customerComment{
    margin-left:30px;
    padding-top: 30px;
    margin-bottom: 30px;
}
.customerMassage{
    margin-top: 30px;
}
.realComment{
    margin-left: 90px;
    margin-right: 30px;
    height: 100px;
    margin-top: 30px;
    line-height: 30px;
}
.starNum{
    display: inline-block;
    width:280px;
}
.Time{
    display: inline-block;
    /*margin-left: 300px;*/
    padding-left: 150px;
}
.scoreMassage{
    margin-left: 5px;
    margin-right: 60px;
}
.changePage{
    padding-bottom: 20px;
}
.changePage ul{
    text-align: right;
    padding-right: 15px;
}
.changePage ul li{
    display: inline-block;
    border:1px solid gainsboro;
    padding:5px;
}
.changePage .specialLi{
    border:none;
}
.pageNum{
    border:1px solid gainsboro;
    padding: 2px 5px;
    margin:0 3px;
}
/*咨询部分*/
.otherDetails{
    background-color: white;
    border:none;
}
.detailTitle ul{
    display: inline-block;
}
.detailTitle ul li{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding:6px 10px;
    background-color:gainsboro;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid  #11456b;
    margin-right:-4px;
}
.help{
    display: inline-block;
    border-bottom: 1px solid  #11456b;
    padding:7px 10px 7px 205px;
}
#nowPage{
    border-top: 1px solid  #11456b;
    border-right: 1px solid  #11456b;
    border-left: 1px solid #11456b;
    border-bottom:none;
}
/*.detailMassage{*/
/*padding: 20px;*/
/*}*/
.intention{
    background-color:gainsboro;
    padding:20px;
    margin:20px 20px 0 20px;
}
.question{
    font-weight: bold;
    font-size: 14px;
}
.webAnswer{
    margin-top: 5px;
    padding:10px 30px;
    background-color:gainsboro;
}
.upSquare{
    display:block;
    width:0;
    height:0;
    border-width: 0 10px 10px;
    border-style:solid;
    border-color: transparent transparent gainsboro;/*黄 透明 透明 */
    position:absolute;
    margin-left: -10px;
    margin-top: -16px;
}
.changeColor{
    color: dimgray;
}
/*共用部分*/
.beChoice{
    border:1px solid #317ee7;
}

/*脚注*/
footer{
    background-color: #aeaeae;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    line-height: 25px;
}
footer ul li{
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
}