.comWidth{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}
/*top的第一部分topBar*/
.topBar{
    background-color:#f7f7f7;
    line-height: 36px;
    height: 31px;
}
.topBar a{
    color: black;
}
.collection{
    background: url("../../imgs/icon/star.jpg")left center no-repeat;
    padding-left: 19px;font-weight: bold;
}
/*.topBar a:hover{*/
    /*color: red;*/
/*}*/
/*top的第二部分logoBar*/
.logoBar{
    background-color:royalblue;
    height: 85px;
}
.logo{
    float: left;
    padding-left: 41px;
    padding-top: 13px;
}
.shopCar{
    float: right;
}
.search_box{
    width: 430px;
   display: inline-block;
    padding-left:180px ;
    margin-top: 23px;
}
.search_text{
    width: 350px;
    height: 35px;/*ie浏览器中同为35px*/
    padding:0 5px;
}
.search_btn{
    width: 70px;
    height: 35px;
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑", serif;
    background-color:#ff8c00 ;
    color: white;
    border: none;
}
.shopCar{
    color: white;
    background-color: #ff8c00;
    width: 145px;
    height: 35px;
    margin-top: 23px;
    margin-right: 10px;
}
.shopText{
    background: url("../../imgs/imge/shop_car.jpg")10px center no-repeat ; text-indent: 40px;
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑", serif;
    border-right: 1px solid #ff9c01;
    line-height: 35px;
    padding-right: 10px;
    /*margin-top: ;*/
}
.shopNum{
    background: url("../../imgs/imge/shop_car_num.jpg")left center no-repeat;
    text-indent: 20px;
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑", serif;
    line-height: 35px;
    /*border: 1px solid black;*/
    padding-right: 10px;
}
/*导航*/
.navBox{
    height: 35px;
    background-color: #1369c0;
    color: white;
}
.shopClass{
    line-height: 35px;
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑", serif;
 //   background: url("../../imgs/imge/shopClassH3.jpg")right center no-repeat;
}
.shopClass h3{
    padding-left: 43px;
    padding-right: 24px;
    /*width:187px;*/
    /*text-align: right;*/
}
.shopClass img{
    margin-left: 8px;
    margin-right: 8px;
}
.nav{
    display: inline-block;
    line-height: 35px;
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑", serif;
}
.nav li{
    float: left;
}
.nav a{
    padding:0 35px;
    color: white;
    display: inline-block;
}
.active{
    background-color: #4593FD;
}


.productClass{
    background-color: #4593FD;
    cursor: pointer;
    /*display: none;*/
}
.productClass li{
    background-color:#4593fd;
    padding:14px 10px;
    width:170px;
    height: 40px;
    color: white;
    line-height: 20px;
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑", serif;
    border-bottom: 1px solid #3487f2;
    border-top: 1px solid #5aa1fe;
    /*遗留:加三角符号*/
}
#selectClass1{
    border-top: none;
}
#selectClass1 a{
    text-decoration: none;
}
.productClass .notChoice{
    background-color:#4593fd;
    color: white;
}
.productClass .nowChoice{
    background-color: white;
    color: black;
    border-left:1px solid gainsboro;
    border-right:1px solid gainsboro;
}
.productClass .lastChoice{
    background-color: white;
    color: black;
    border-left:1px solid gainsboro;
    border-right:1px solid gainsboro;
    border-bottom:1px solid gainsboro;
}
.productClass .importantProduct{
    background-color: #1369c0;
    font-size: 12px;
    text-decoration: underline;
    border-radius: 10px;
    padding: 1px 4px;
    margin-left: 12px;
    line-height: 18px;
}
.productClass .importantClass{
    background-color: #1369c0;
    font-size: 12px;
    border-radius: 10px;
    width: 50px;
    padding: 1px 4px;
    margin-left: 10px;
    line-height: 18px;
}
.productClass .selectClass.squareRight,.productClass .selectClass span{
    vertical-align: top;
}
.productClass .squareRight img{
    margin-left: 2px;
    margin-top: 1px;
}
#foodClass .importantClass{
    background-color: #1369c0;
    font-size: 12px;
    border-radius: 10px;
    padding: 1px 10px;
    margin-left: 8px;
    line-height: 18px;
}
.productClass .normalProduct{
    font-size: 12px;
}
.AD{
    /*margin-left:400px;*/
    margin-top: -435px;
    margin-right: 0;
}
.specificClass{
    border: 1px solid gainsboro;
    color: black;
    width: 527px;
    /*height: 354px;*/
    padding:0 20px 0 20px;
    margin-left: 191px;
}
.specificClass2{
    position: absolute;
    margin-top: -400px;
}
.specific{
    /*line-height: 25px;*/
    border-bottom:1px solid gainsboro;
    font-size: 13px;
}
.specific img{
    width:10px;
    height:10px;
}
.kinds{
    color:#1369c0;
    font-weight:bold;
    /*line-height: 25px;*/
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
}
.goods{
    color:black;
    font-weight:normal;
    display: inline-block;
    padding:10px 0 10px 17px;
    line-height: 28px;
    font-size: 10px;
    cursor: pointer;
}
.goods .hotGoods{
    /*color: ;*/
    margin-left: 12px;
    margin-right: 12px;
}
.goods2 .blank,.goods3 .blank{
    /*width:12px;*/
    padding:0 7px;
}
.goods4 .blank,.goods5 .blank,.goods6 .blank{
    /*width:12px;*/
    padding:0 7px;
}
.specific .goods,.specific .kinds{
    vertical-align: top;
}
.specific button{
    cursor: pointer;
}
.specific .leftButton{
    border:none;
    background-color:#1369c0;
    margin:15px 0;
    line-height: 55px;
    padding: 3px;
    color: white;
    cursor: pointer;
}
.link{
    border:none;
}
.specific .rightButton{
    margin:15px 10px;
    border:none;
    background-color:#1369c0;
    line-height: 55px;
    padding: 3px;
    color: white;
    cursor: pointer;
}
.specific img{
    margin-top: 5px;
    margin-left:2px;
    /*border: 1px solid red;*/
}
.specific .fr{
    margin-right: 200px;
}
.content{
    margin-top: 5px;
    margin-bottom: 40px;
}
ul li{
    list-style: none;
}
/*家用电脑板块开始*/
.computer{
    margin-top: -50px;
    font-family: 微软雅黑, Serif, serif;
}
.foods{
    font-family: 微软雅黑, Serif, serif;
}
.className{
    font-size: 28px;
    font-weight: bold;
    width: 900px;
    display: inline-block;
    /*遗留:文字不居中的问题 已经解决*/
}
.className div,.className img{
    vertical-align: bottom;
}
.className img{
    margin-right: 12px;
    margin-bottom: 15px;
}
.computerTitle{
    padding-top: -20px;
}
.foodTitle{
    margin-top: 15px;
}
.showBody ul{
    height: 398px;
    width: 810px;
    margin-left: 190px;
    border-bottom: 2px solid #ff8c00;
    border-right:1px solid gray;
    border-top: 1px solid gray;
}
.showBody ul li{
    display: inline-block;
    vertical-align: middle;
    width: 201.5px;
    height: 398px;
    padding:0;
}
.showBody ul li a{
    text-decoration: none;
    color: black;
}
.productFirst,.productSecond,.productThird{
    border-right: 1px solid gainsboro;
    padding:0;
}
.productTop{
    text-align: center;
    margin-top: 45px;
    /*margin-bottom: 5px;*/
}
.productBottom{
    border-top: 1px solid gainsboro;
    margin:0;
    padding:0;
    /*padding: 16px 0 20px 0;*/
    text-align: center;
    /*vertical-align: middle;*/
    line-height: 114px;
}
.productBottom img,.BottomProductName{
    vertical-align: middle;
}
.productTop img{
    margin-bottom: 7px;
}
/*文字部分*/
.TopProductName{
    color: black;
    font-weight: bold;
    font-size: 17px;
    padding:20px 0 8px 0;
    /*遗留问:字体*/
}
.TopProductPrice{
    color: #ff8c00;
    font-size: 13px;
    padding-bottom:20px;
}
.productBottom img{
    margin-bottom: 10px;
}
.bottomProductPrice{
    background: url("../../imgs/icon/yuan.jpg")left no-repeat;
    padding-left: 13px;
    width: 25px;
    text-align: center;
    margin: 5px;
}
.BottomProductName{
    width: 98px;
    /*height: 10px;*/
    line-height: 20px;
    margin-top: 25px;
    margin-right: 8px;
}
.More a{
    color:black;
}
